<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Reporte de trámites por tipo de vehículo</title>
    <link rel="stylesheet" href="../../../public/css/style.css">
    <script src="node_modules/simplebar/dist/simplebar.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.46.0/tabler-icons.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="/js/generar-reporte.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.3/jspdf.umd.min.js"></script>


    <style>
        body {
            background-color: #ffffff;
            width: 210mm;

            margin: 0 auto;

        }

        .table>:not(caption)>*>* {
            padding: 3px 3px;
            color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));

            border-bottom-width: var(--bs-border-width);
            box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)))
        }
    </style>

</head>

<body>


    <div class="container-lg mx-0" style="width: 100%; background-color: white;">
        <div class="row align-items-center px-3">
            <div class="col-8 text-center justify-content-left align-items-left">

                <h4 class="text-black fw-bold">REPORTE DE TRÁMITES POR TIPO DE VEHICULO </h4>
            </div>
            <div class="col-4">
                <div class="row">

                    <div class="col-12 mt-2">
                        <div class="form-group d-flex">
                            <label for="empresa"
                                class="col-4 form-label fw-normal  fs-2 col-form-label px-0 py-0">Empresa:</label>
                            <div class="col-8 ">
                                <input type="text" class="form-control px-0 py-0 fs-2" name="nombre_empresa"
                                    id="nombre_empresa" style="background: none; border: none;"
                                    value="<%= userData.nombre_corto_empresa %>" disabled readonly>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mt-1">
                        <div class="form-group d-flex">
                            <label for="empresa"
                                class="col-4  form-label fw-normal fs-2 col-form-label px-0 py-0">Usuario:</label>
                            <div class="col-8 ">
                                <input type="text" class="form-control px-0 py-0 fs-2" name="nombre_empresa"
                                    id="nombre_empresa" style="background: none; border: none;"
                                    value="<%= userData.nombre_funcionario %>" disabled readonly>
                            </div>
                        </div>
                    </div>

                    <div class="col-12  mt-1">
                        <div class="form-group d-flex">
                            <label for="empresa"
                                class="col-md-12 form-label fw-normal  fs-2 col-form-label px-0 py-0">CONSULTA REALIZADA
                                DESDE</label>
                        </div>
                    </div>

                    <div class="col-12  mt-1">
                        <div class="form-group d-flex">
                            <label for="empresa"
                                class="col-4  form-label fw-normal  fs-2 col-form-label px-0 py-0">Fecha
                                inicial:</label>
                            <div class="col-8">
                                <input type="text" class="form-control px-0 py-0 fs-2" name="nombre_empresa"
                                    id="nombre_empresa" style="background: none; border: none;"
                                    value="<%= fecha_ingreso_PDF %>" disabled readonly>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mb-2 mt-1">
                        <div class="form-group d-flex">
                            <label for="empresa" class="col-4  form-label fw-normal fs-2 col-form-label px-0 py-0">Fecha
                                final:</label>
                            <div class="col-8 ">
                                <input type="text" class="form-control px-0 py-0 fs-2" name="nombre_empresa"
                                    id="nombre_empresa" style="background: none; border: none;"
                                    value="<%= fecha_final_PDF %>" disabled readonly>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>

        <hr>

        <div class="row align-items-center px-3">
            <div class="col-12">
                <div class="form-group">
                    <label for="area"
                        class="col-12 form-label fw-semibold fs-4  col-form-label text-center font-weight-bolder align-items-center justify-content-center">UNIDAD
                        DE MATRICULACIÓN VEHICULAR</label>
                </div>
            </div>

            <div class="col-12">
                <div class="form-group d-flex">
                    <label for="area" class="col-md-7 form-label fw-semibold fs-3  col-form-label"> 1.-
                        DETALLE DE TRÁMITES Y ESPECIES DE MATRÍCULA</label>
                </div>
            </div>


            <div class="col-12 mb-1">
                <div class="form-group d-flex">
                    <label for="area" class="col-3 form-label fw-normal  col-form-label">Trámites de
                        motocicletas:</label>
                    <div class="col-2">
                        <input type="text" class="form-control text-center" name="tramites_total_motocicletas"
                            id="tramites_total_motocicletas">
                    </div>

                    <div class="col-2"></div>

                    <label for="area" class="col-3 form-label fw-normal   col-form-label">Especies
                        entregadas:</label>
                    <div class="col-2">
                        <input type="text" class="form-control text-center" name="especies_utilizadas"
                            id="especies_utilizadas">
                    </div>
                </div>
            </div>

            <div class="col-12 mb-1">
                <div class="form-group d-flex">
                    <label for="area" class="col-3 form-label fw-normal   col-form-label">Trámites de
                        vehiculos:</label>
                    <div class="col-2">
                        <input type="text" class="form-control text-center" name="tramites_total_vehiculos"
                            id="tramites_total_vehiculos">
                    </div>

                    <div class="col-2"></div>

                    <label for="area" class="col-3 form-label fw-normal   col-form-label">Especies
                        anuladas:</label>
                    <div class="col-2">
                        <input type="text" class="form-control text-center" name="especies_anuladas"
                            id="especies_anuladas">
                    </div>
                </div>
            </div>

            <div class="col-12 mb-1">
                <div class="form-group d-flex">
                    <label for="area" class="col-3 form-label fw-normal   col-form-label">Total de
                        trámites realizados:</label>
                    <div class="col-2">
                        <input type="text" class="form-control text-center" name="tramites_total" id="tramites_total">
                    </div>

                    <div class="col-2"></div>

                    <label for="area" class="col-3 form-label fw-normal   col-form-label">Adhesivos
                        entregados:</label>
                    <div class="col-2">
                        <input type="text" class="form-control text-center" name="ahesivos_entregados"
                            id="ahesivos_entregados">
                    </div>
                </div>
            </div>

        </div>

        <br>

        <div class="px-3">
            <div class="table-responsive fs-3" style="color: black;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th colspan="2" class="text-center align-middle font-weight-bolder px-2 py-2">
                                <b>MOTOCICLETAS</b>
                            </th>
                        </tr>
                        <tr>
                            <th class=" fs-3 text-center align-middle col-md-10 font-weight-bolder px-2 py-2">
                                <b>DETALLE DE LOS TRÁMITES DE MATRICULACIÓN</b>
                            </th>
                            <th class=" fs-3 text-center align-middle col-md-2 px-2 py-2">
                                <b>TOTAL</b>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="fs-2" id="tbody-tramites">

                    </tbody>
                </table>
            </div>
            <br>
        </div>

        <br>

        <div class="px-3">
            <div class="table-responsive fs-3" style="color: black;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th colspan="2" class="text-center align-middle font-weight-bolder px-2 py-2">
                                <b>VEHICULOS</b>
                            </th>
                        </tr>
                        <tr>
                            <th class=" fs-3 text-center align-middle col-md-10 font-weight-bolder px-2 py-2">
                                <b>DETALLE DE LOS TRÁMITES DE MATRICULACIÓN</b>
                            </th>
                            <th class=" fs-3 text-center align-middle col-md-2 px-2 py-2">
                                <b>TOTAL</b>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="fs-2" id="tbody-tramites2">

                    </tbody>
                </table>
            </div>
            <br>
        </div>


        <br>

        <div class="row align-items-center px-3" style="background-color: white;">

            <br>

            <br>

            <br>

            <div class="text-center row" style="color: black;">
                <br>
                <span class="text-center fs-3" id="nombre_centro_matriculacion_span">
                    <%= userData.nombre_funcionario %>
                </span>
                <div class="fw-semibold fs-4" style="color: black;">
                    <%= userData.nombre_puesto_funcionario %>
                </div>
            </div>

            <br>






        </div>




    </div>











    <div>
        <input type="hidden" class="form-control" name="jefatura_departamento" id="jefatura_departamento"
            value="<%= userData.jefatura_departamento %>" disabled readonly>

        <input type="hidden" class="form-control" name="area_laboral" id="area_laboral"
            value="<%= userData.area_laboral %>" disabled readonly>

        <input type="hidden" class="form-control" name="rol_funcionario" id="rol_funcionario"
            value="<%= userData.rol_funcionario %>" disabled readonly>

        <input type="hidden" class="form-control" name="nombre_funcionario" id="nombre_funcionario"
            value="<%= userData.nombre_funcionario %>" disabled readonly>

        <input type="hidden" class="form-control" name="username" id="username" value="<%= userData.username %>"
            disabled readonly>

        <input type="hidden" class="form-control" name="nombre_centro_matriculacion" id="nombre_centro_matriculacion"
            value="<%= userData.nombre_centro_matriculacion %>" disabled readonly>

        <input type="hidden" class="form-control" name="fecha_ingreso" id="fecha_ingreso"
            value="<%= fecha_ingreso_PDF %>">

        <input type="hidden" class="form-control" name="fecha_final" id="fecha_final" value="<%= fecha_final_PDF %>">

        <button type="submit" id="generarReporteTipoVehiculo" class="d-none">
            <font _mstmutation="1" _msttexthash="76830" _msthash="372"> Procesar consulta </font>
        </button>
    </div>

    <script>
        $(document).ready(function () {

            $('#generarReporteTipoVehiculo').trigger('click');
        });
    </script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.3/jspdf.umd.min.js"></script>
    <script src="script.js"></script>


    </div>





</body>

</html>