<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Reporte de trámites</title>
    <link rel="stylesheet" href="../../../public/css/style.css">
    <script src="node_modules/simplebar/dist/simplebar.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.46.0/tabler-icons.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="/js/generar-reporte.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.3/jspdf.umd.min.js"></script>


    <style>
        body {
            background-color: #ffffff;
            width: 287mm;
            height: 210mm;
            margin: 0 auto;
        }

        .table>:not(caption)>*>* {
            padding: 3px 3px;
            color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));

            border-bottom-width: var(--bs-border-width);
            box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)))
        }

        .table thead th {
            background-color: #f3f4f8;
        }

        @media print {
            .table thead th {
                background-color: #f3f4f8;
                -webkit-print-color-adjust: exact;

                print-color-adjust: exact;
            }
        }
    </style>


</head>

<body>

    <div class="container-lg mx-0" style="width: 100%; background-color: white;">
        <div class="row align-items-center px-3 d-none">
            <div class="col-8 text-center justify-content-left align-items-left">
                <h4 class="text-black fw-bold">REPORTE DE TRÁMITES INGRESADOS DESDE INFORMACIÓN</h4>
            </div>
            <div class="col-4">

                <div class="row">

                    <div class="col-12 mt-2">
                        <div class="form-group d-flex">
                            <label for="empresa"
                                class="col-4 form-label fw-normal  fs-2 col-form-label px-0 py-0">Empresa:</label>
                            <div class="col-8 ">
                                <input type="text" class="form-control px-0 py-0 fs-2" name="nombre_empresa"
                                    id="nombre_empresa" style="background: none; border: none;"
                                    value="<%= userData.nombre_corto_empresa %>" disabled readonly>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mt-1">
                        <div class="form-group d-flex">
                            <label for="empresa"
                                class="col-4  form-label fw-normal fs-2 col-form-label px-0 py-0">Usuario:</label>
                            <div class="col-8 ">
                                <input type="text" class="form-control px-0 py-0 fs-2" name="nombre_empresa"
                                    id="nombre_empresa" style="background: none; border: none;"
                                    value="<%= userData.nombre_funcionario %>" disabled readonly>
                            </div>
                        </div>
                    </div>

                    <div class="col-12  mt-1">
                        <div class="form-group d-flex">
                            <label for="empresa"
                                class="col-md-12 form-label fw-normal  fs-2 col-form-label px-0 py-0">CONSULTA REALIZADA
                                DESDE</label>
                        </div>
                    </div>

                    <div class="col-12  mt-1">
                        <div class="form-group d-flex">
                            <label for="empresa"
                                class="col-4  form-label fw-normal  fs-2 col-form-label px-0 py-0">Fecha
                                inicial:</label>
                            <div class="col-8">
                                <input type="text" class="form-control px-0 py-0 fs-2" name="nombre_empresa"
                                    id="nombre_empresa" style="background: none; border: none;"
                                    value="<%= fecha_ingreso_PDF %>" disabled readonly>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mb-2 mt-1">
                        <div class="form-group d-flex">
                            <label for="empresa" class="col-4  form-label fw-normal fs-2 col-form-label px-0 py-0">Fecha
                                final:</label>
                            <div class="col-8 ">
                                <input type="text" class="form-control px-0 py-0 fs-2" name="nombre_empresa"
                                    id="nombre_empresa" style="background: none; border: none;"
                                    value="<%= fecha_final_PDF %>" disabled readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-items-center px-3 d-none">
            <div class="col-12">
                <div class="form-group">
                    <label for="area"
                        class="col-12 form-label fw-semibold fs-4  col-form-label text-center font-weight-bolder align-items-center justify-content-center">UNIDAD
                        DE MATRICULACIÓN VEHICULAR</label>
                </div>
            </div>

            <div class="col-12">
                <div class="form-group d-flex">
                    <label for="area" class="col-md-6 form-label fw-semibold fs-3  col-form-label"> 1.-
                        SECUENCIA DE ESPECIES DE MATRÍCULA</label>
                </div>
            </div>


            <div class="col-12 mb-1">
                <div class="form-group d-flex">
                    <div class="col-3 form-label fw-normal  fs-3 col-form-label">Desde la fecha:</div>
                    <div class="col-2">
                        <input type="text" class="form-control text-center" name="" id=""
                            value="<%= fecha_ingreso_PDF %>">
                    </div>
                </div>
            </div>

            <div class="col-12 mb-1">
                <div class="form-group d-flex">
                    <div class="col-3 form-label fw-normal  fs-3 col-form-label">Hasta la fecha:</div>
                    <div class="col-2">
                        <input type="text" class="form-control text-center" name="" id=""
                            value="<%= fecha_final_PDF %>">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mb-2 fs-2">
    
            <div class="table-responsive2 fs-2">
                <table class="table table-bordered">
                    <thead class="thead-primary" id="thead-tramites">

                        <tr>
                            <th class="text-center align-middle px-2 py-2">N°</th>
                            <th class="text-center align-middle px-2 py-2">PLACA</th>
                            <th class="text-center align-middle px-2 py-2 text-overflow-13">TIPO
                                DE
                                TRAMITE</th>
                            <th class="text-center align-middle px-2 py-2 text-overflow-4 text-wrap">FECHA DE INGRESO</th>
                            <th
                                class="text-center align-middle px-2 py-2 text-overflow-4 text-wrap">
                                TIEMPO EN ESPERA</th>
                            <th
                                class="text-center align-middle px-2 py-2 text-overflow-3 text-wrap">
                                TURNO</th>
                            <th class="text-center align-middle px-2 py-2 text-overflow-4">
                                ESTADO
                            </th>
                            <th
                                class="text-center align-middle px-2 py-2 text-overflow-3 text-wrap">
                                USUARIO EN VENTANILLA</th>
                            <th
                                class="text-center align-middle px-2 py-2 text-overflow-3 text-wrap">
                                USUARIO ASIGNADO</th>
                            
                        </tr>
                    </thead>
                    <tbody id="tbody-tramitesDetalle2">
                    </tbody>
                </table>
            </div>
        </div>


        <br>

        <div class="row align-items-center px-3" style="background-color: white;">

            <br>

            <br>

            <br>

            <div class="text-center row" style="color: black;">
                <br>
                <span class="text-center fs-3" id="nombre_centro_matriculacion_span">
                    <%= userData.nombre_funcionario %>
                </span>
                <div class="fw-semibold fs-4" style="color: black;">
                    <%= userData.nombre_puesto_funcionario %>
                </div>
            </div>

            <br>
        </div>




    </div>


    <div>
        <input type="hidden" class="form-control" name="jefatura_departamento" id="jefatura_departamento"
            value="<%= userData.jefatura_departamento %>" disabled readonly>

        <input type="hidden" class="form-control" name="area_laboral" id="area_laboral"
            value="<%= userData.area_laboral %>" disabled readonly>

        <input type="hidden" class="form-control" name="rol_funcionario" id="rol_funcionario"
            value="<%= userData.rol_funcionario %>" disabled readonly>

        <input type="hidden" class="form-control" name="nombre_funcionario" id="nombre_funcionario"
            value="<%= userData.nombre_funcionario %>" disabled readonly>

        <input type="hidden" class="form-control" name="username" id="username" value="<%= userData.username %>"
            disabled readonly>

        <input type="hidden" class="form-control" name="nombre_centro_matriculacion" id="nombre_centro_matriculacion"
            value="<%= userData.nombre_centro_matriculacion %>" disabled readonly>

        <input type="hidden" class="form-control" name="fecha_inicial" id="fecha_inicial"
            value="<%= fecha_ingreso_PDF %>">

        <input type="hidden" class="form-control" name="fecha_final" id="fecha_final" value="<%= fecha_final_PDF %>">

        <button type="submit" id="generarReporteTramitesInformacion" class="d-none">
            <font _mstmutation="1" _msttexthash="76830" _msthash="372"> Procesar consulta </font>
        </button>
    </div>

    <script>
        $(document).ready(function () {

            $('#generarReporteTramitesInformacion').trigger('click');
        });
    </script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.3/jspdf.umd.min.js"></script>
    <script src="script.js"></script>


    </div>

</body>

</html>