<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.46.0/tabler-icons.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>



    <script src="/js/activar-items-navbar.js"></script>
    <script src="/js/graficoTurno.js"></script>
    <script src="/js/spinners.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/logout-script.js"></script>


    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../node_modules/echarts/dist/echarts.min.js"></script>
</head>

<body>
    <div class="page-wrapper" id="main-wrapper" data-theme="blue_theme" data-layout="vertical" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">


        <!-- Inicio de barra de navegación -->
        <%- include('body/navbar') %>
            <!-- Fin de barra de navegación -->
            <!--  Contendio principal -->
            <div class="body-wrapper">
                <!--  Encabezado de pagina -->
                <%- include('body/header') %>

                    <div class="container-fluid">
                        <div class="row d-none">
                            <div class="col-lg-8">
                                <div class="card border">
                                    <div class="card-body h-100 p-3">
                                        <h6 class="mt-1 text-start fw-semibold">HOY
                                        </h6>
                                        <h6 class="mt-1 text-start">Procesos</h6>

                                        <div class="d-flex justify-content-between align-items-center"  style="height: 146px;">

                                            <!-- Tramites ingresados -->
                                            <div class="d-flex flex-row p-3">
                                                <div class="d-flex align-items-center justify-content-center text-center text-secondary">
                                                    <i class="ti ti-clipboard-list fs-11"></i>
                                                </div>
                                                <div class="align-items-center justify-content-center row p-3">
                                                    <h3 class="text-dark fw-bold mb-0 text-start"><%= tramitesIngresados %></h3>
                                                    <span class="text-muted small">Trámites ingresados</span>
                                                </div>
                                            </div>

                                            <!-- Tramites finalizados -->
                                            <div class="d-flex flex-row p-3">
                                                <div class="d-flex align-items-center justify-content-center text-center text-secondary">
                                                    <i class="ti ti-clipboard-check fs-11"></i>
                                                </div>
                                                <div class="align-items-center justify-content-center row p-3">
                                                    <h3 class="text-dark fw-bold mb-0 text-start"><%= tramitesFinalizados %></h3>
                                                    <span class="text-muted small">Trámites finalizados</span>
                                                </div>
                                            </div>

                                            <!-- Tramites pendientes -->
                                            <div class="d-flex flex-row p-3">
                                                <div class="d-flex align-items-center justify-content-center text-center text-secondary">
                                                    <i class="ti ti-car fs-11"></i>
                                                </div>
                                                <div class="align-items-center justify-content-center row p-3">
                                                    <h3 class="text-dark fw-bold mb-0 text-start"><%= tramitesRTV %></h3>
                                                    <span class="text-muted small">Trámites de revisión técnica</span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="card border">
                                    <div class="card-body text-center position-relative p-3">
                                        <h6 class="mt-1 text-start fw-semibold">MATRICULACIÓN</h6>
                                        <h6 class="mt-1 text-start">Último Turno</h6>

                                        <div class="position-relative mx-auto d-flex align-items-center justify-content-center"
                                            style="width: 146px; height: 146px;">
                                            <div id="graficoTurno" class="w-100 h-100"></div>

                                            <div class="position-absolute text-1100 fs-9 fw-bold">
                                                <%= ultimoTurno %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="card border">
                                    <div class="card-body text-center position-relative p-3">
                                        <h6 class="mt-1 text-start fw-semibold">REVISIÓN TÉCNICA
                                        </h6>
                                        <h6 class="mt-1 text-start">Último Turno</h6>

                                        <div class="position-relative mx-auto d-flex align-items-center justify-content-center"
                                            style="width: 146px; height: 146px;">
                                            <div id="graficoTurnoRTV" class="w-100 h-100"></div>

                                            <div class="position-absolute text-1100 fs-9 fw-bold">
                                                <%= ultimoTurnoRTV %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="col-12 d-flex gap-3">




                            </div>

                        </div>
                        <div class="d-flex col-12">
                            <div class="d-flex justify-content-start col-12">
                                <div class="col-md-6 col-lg-12 d-flex gap-3">

                                </div>
                            </div>
                        </div>
                    </div>



                    <div id="spinner-wrapper" class="spinner-wrapper">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading..</span>
                        </div>
                    </div>
            </div>
</body>

</html>