<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Reporte diario</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="node_modules/simplebar/dist/simplebar.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.46.0/tabler-icons.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="/js/generar-reporte-diario.js"></script>
    <script src="/js/generar-pdf-reporte-diario.js"></script>
    <script src="/js/activar-items-navbar.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.3/jspdf.umd.min.js"></script>


</head>

<body>

    <br>

    <h5 class="text-center">CUADRO GENERAL DE CLASIFICACIÓN DOCUMENTAL</h5>

    <div class="px-3">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="text-center align-middle col-md-1 small">Nº</th>
                        <th class="text-center align-middle col-md-1 small">SECCIÓN DOCUMENTAL</th>
                        <th class="text-center align-middle col-md-1 small">SUBSECCIÓN DOCUMENTAL</th>
                        <th class="text-center align-middle col-md-1 small">SERIE DOCUMENTAL</th>
                        <th class="text-center align-middle col-md-3 small">SUBSERIE DOCUMENTAL</th>
                        <th class="text-center align-middle col-md-1 small">N° FOJAS</th>
                        <th class="text-center align-middle col-md-1 small">DESCRIPCIÓN DE LA SERIE DOCUMENTAL</th>
                        <th class="text-center align-middle col-md-2 small">ORIGEN DE LA DOCUMENTACIÓN</th>
                        <th class="text-center align-middle col-md-1 small">CONDICIONES DE ACCESO</th>
                    </tr>
                </thead>
                <tbody class="small" id="tbody-tramites">
                    <!-- Aquí se agregarán dinámicamente los trámites -->
                </tbody>
            </table>
        </div>
    </div>


    <br>
    <br>

    </div>




    <div class="container text-center">
        <span class="text-center" id="nombre_centro_matriculacion_span">
            <%= userData.nombre_funcionario %>
        </span>
    </div>
    <div class="container text-center">
        <strong>
            <%= userData.nombre_puesto_funcionario %>
        </strong>
    </div>

    <br>









    <div>

        <input type="hidden" class="form-control" name="jefatura_departamento" id="jefatura_departamento"
            value="<%= userData.jefatura_departamento %>" disabled readonly>

        <input type="hidden" class="form-control" name="area_laboral" id="area_laboral"
            value="<%= userData.area_laboral %>" disabled readonly>

        <input type="hidden" class="form-control" name="rol_funcionario" id="rol_funcionario"
            value="<%= userData.rol_funcionario %>" disabled readonly>

        <input type="hidden" class="form-control" name="nombre_funcionario" id="nombre_funcionario"
            value="<%= userData.nombre_funcionario %>" disabled readonly>

        <input type="hidden" class="form-control" name="username" id="username" value="<%= userData.username %>"
            disabled readonly>


        <input type="hidden" class="form-control" name="nombre_centro_matriculacion" id="nombre_centro_matriculacion"
            value="<%= userData.nombre_centro_matriculacion %>" disabled readonly>


        <input type="hidden" class="form-control" name="fecha_ingreso" id="fecha_ingreso"
            value="<%= fecha_ingresoPDF %>">

        <input type="date" class="form-control" name="fecha_ingresoPD" id="fecha_ingresoPDF">

        <button type="submit" id="generarReporteDiario" class="d-none">
            <font _mstmutation="1" _msttexthash="76830" _msthash="372"> Procesar consulta </font>
        </button>


    </div>




    <script>

        $(document).ready(function () {
            // Definir la constante fecha_ingreso (puedes cambiarla por la que necesites)
            const fecha_ingreso = ; // Por ejemplo, asignamos una fecha fija

            // Establecer el valor del input de fecha con la constante
            $('#fecha_ingreso').val(fecha_ingreso);
        });
    </script>


    <script>
        $(document).ready(function () {
            // Simula el clic en el botón #generarReporteDiario
            $('#generarReporteDiario').trigger('click');
        });
    </script>








    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.3/jspdf.umd.min.js"></script>
    <script src="script.js"></script>


    </div>





</body>

</html>