<!doctype html>
<html lang="es" data-bs-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Editar turno</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.46.0/tabler-icons.min.css">
    <link rel="stylesheet" href="../../../public/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <script src="/js/activar-items-navbar.js"></script>

    <script src="/js/cargar-tipos-tramites.js"></script>
    <script src="/js/cargar-cantones.js"></script>

    <script src="/js/main.js"></script>
    <script src="/js/spinners.js"></script>


    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


</head>

<body>
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Inicio de barra de navegación -->
        <%- include('../../body/navbar') %>
            <!-- Fin de barra de navegación -->
            <!--  Contendio principal -->
            <div class="body-wrapper">
                <!--  Encabezado de pagina -->
                <%- include('../../body/header') %>
                    <!--  Fin de encabezado de pagina  -->
                    <div class="container-fluid">

                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-lg-8">
                                <div class="card">
                                    <div class="card-body">

                                        <div class="border-bottom rounded-top">
                                            <div class="d-flex align-items-center mb-3">
                                                <span class="me-2">
                                                    <i class="ti ti-calendar-clock fs-7 text-black"></i>
                                                </span>
                                                <h5 class="modal-title text-black fw-semibold mb-1 fs-5"
                                                    id="exampleModalXlLabel">
                                                    Editar turno</h5>
                                            </div>

                                        </div>



                                        <div class="d-flex mt-3">

                                            <form action="/actualizar-tramite-desde-informacion" method="post"
                                                id="actualizarTramiteAreaInformacion-Form" class="col">
                                                <div class="mt-3 mb-1">
                                                    <div
                                                        class="card-body px-3 py-3 form-label bg-four-card rounded border">
                                                        <div class="row">

                                                            <input type="hidden" name="id_tramite"
                                                                id="id_tramite"
                                                                value="<%= tramite.id_tramite %>">

                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label
                                                                        class="form-label text-start col-md-4">Placa:</label>
                                                                    <div class="col-md-8">
                                                                        <p
                                                                            class="form-control-static text-black mb-2 fw-normal">
                                                                            <%= tramite.placa %>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label
                                                                        class="form-label text-start col-md-4">C.I./RUC:</label>
                                                                    <div class="col-md-8">
                                                                        <p
                                                                            class="form-control-static text-black mb-2 fw-normal">
                                                                            <%= tramite.id_usuario %>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="row">

                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label
                                                                        class="form-label text-start col-md-4">Vehiculo:</label>
                                                                    <div class="col-md-8">
                                                                        <p
                                                                            class="form-control-static text-black mb-2 fw-normal">
                                                                            <%= tramite.clase_vehiculo %>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label
                                                                        class="form-label text-start col-md-4">Propietario:</label>
                                                                    <div class="col-md-8">
                                                                        <p
                                                                            class="form-control-static text-black mb-2 fw-normal">
                                                                            <%= tramite.nombre_usuario %>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">

                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label
                                                                        class="form-label text-start col-md-4">Transporte:</label>
                                                                    <div class="col-md-8">
                                                                        <p
                                                                            class="form-control-static text-black mb-2 fw-normal">
                                                                            <%= tramite.clase_transporte %>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="form-label text-start col-md-4">Tipo
                                                                        de trámite:</label>
                                                                    <div class="col-md-8">
                                                                        <p
                                                                            class="form-control-static text-black mb-2 fw-normal">
                                                                            <%= tramite.tipo_tramite %>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>




                                                </div>

                                                <nav>
                                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                        <button class="nav-link active" id="nav-home-tab"
                                                            data-bs-toggle="tab" data-bs-target="#nav-home"
                                                            type="button" role="tab" aria-controls="nav-home"
                                                            aria-selected="true">Información general</button>
                                                        <button class="nav-link" id="nav-profile-tab"
                                                            data-bs-toggle="tab" data-bs-target="#nav-profile"
                                                            type="button" role="tab" aria-controls="nav-profile"
                                                            aria-selected="false">Asignación</button>
                                                        <button class="nav-link" id="nav-contact-tab"
                                                            data-bs-toggle="tab" data-bs-target="#nav-contact"
                                                            type="button" role="tab" aria-controls="nav-contact"
                                                            aria-selected="false">Otros servicios</button>
                                                    </div>
                                                </nav>
                                                <div class="tab-content border rounded p-4" id="nav-tabContent">
                                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                                        aria-labelledby="nav-home-tab">

                                                        <div class="">


                                                            <div class="">

                                                                <h5 class="py-3 fs-4 fw-semibold">
                                                                    INFORMACIÓN GENERAL</h5>

                                                            </div>

                                                            <div
                                                                class="col pt-1 mx-auto d-flex flex-column align-items-center">
                                                                <div class="col-8 mb-2">
                                                                    <div class="form-group row justify-content-center">
                                                                        <label
                                                                            class="form-label col-md-4 fw-normal text-md-end">Tipo
                                                                            de trámite:</label>
                                                                        <div class="col-md-8">
                                                                            <select class="form-select fw-normal"
                                                                                name="tipo_tramite" id="tipo_tramite"
                                                                                aria-label="Default select example"
                                                                                required>
                                                                                <option selected></option>
                                                                                <% tiposTramites.forEach(tipo=> { %>
                                                                                    <option
                                                                                        value="<%= tipo.tipo_tramite %>"
                                                                                        <% if
                                                                                        (tramite.tipo_tramite===tipo.tipo_tramite)
                                                                                        { %>
                                                                                        selected
                                                                                        <% } %>>
                                                                                            <%= tipo.tipo_tramite %>
                                                                                    </option>
                                                                                    <% }); %>
                                                                            </select>

                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-8 mb-2">
                                                                    <div class="form-group row justify-content-center">
                                                                        <label
                                                                            class="form-label col-md-4 fw-normal text-md-end">Placa:</label>
                                                                        <div class="col-md-8">
                                                                            <input type="text" name="placa"
                                                                                class="form-control" placeholder=""
                                                                                aria-label="Recipient's username"
                                                                                aria-describedby="basic-addon2"
                                                                                autocomplete="off"
                                                                                value="<%= tramite.placa %>">
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                            </div>

                                                        </div>


                                                        <div class="d-none">
                                                            <div class="">

                                                                <h5 class="py-3 fs-4 fw-semibold">
                                                                    DATOS DEL VEHÍCULO</h5>
                                                            </div>

                                                            <div
                                                                class="col pt-1 mx-auto d-flex flex-column align-items-center">


                                                            </div>

                                                        </div>

                                                        <div class="">
                                                            <div class="pt-2">
                                                                <h5 class="py-3 fs-4 fw-semibold">
                                                                    DATOS DEL PROPIETARIO</h5>
                                                            </div>
                                                            <div
                                                                class="col pt-1 mx-auto d-flex flex-column align-items-center">



                                                                <div class="col-8 mb-2">
                                                                    <div class="form-group row justify-content-center">
                                                                        <label
                                                                            class="form-label col-md-4 fw-normal text-md-end">No.
                                                                            Identificación:</label>
                                                                        <div class="col-md-8">
                                                                            <input type="text" name="id_usuario"
                                                                                class="form-control" placeholder=""
                                                                                aria-label="Recipient's username"
                                                                                aria-describedby="basic-addon2"
                                                                                id="id_usuario" autocomplete="off"
                                                                                value="<%= tramite.id_usuario %>">
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-8 mb-2">
                                                                    <div class="form-group row justify-content-center">
                                                                        <label
                                                                            class="form-label col-md-4 fw-normal text-md-end">Nombre:</label>
                                                                        <div class="col-md-8">
                                                                            <input type="text" class="form-control"
                                                                                name="nombre_usuario"
                                                                                id="nombre_usuario"
                                                                                value="<%= tramite.nombre_usuario %>">
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                                <div class="col-8 mb-2">
                                                                    <div class="form-group row justify-content-center">
                                                                        <label
                                                                            class="form-label col-md-4 fw-normal text-md-end">Celular:</label>
                                                                        <div class="col-md-8">
                                                                            <input type="text" class="form-control"
                                                                                autocomplete="off"
                                                                                name="celular_usuario"
                                                                                id="celular_usuario"
                                                                                value="<%= tramite.celular_usuario %>" maxlength="10">
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                              

                                                            </div>
                                                        </div>


                                                        <div class="">
                                                            <div class="">
                                                                <h5 class="py-3 fs-4 fw-semibold">
                                                                    ADJUNTAR DOCUMENTACIÓN</h5>
                                                            </div>
                                                            <div class="col pt-1 mx-auto d-flex flex-column align-items-center">

                                                                <div class="col-8 mb-2">
                                                                    <div class="form-group row justify-content-center">
                                                                        <label
                                                                            class="form-label col-md-4 fw-normal text-md-end"></label>
                                                                        <div class="col-md-8">
                                                                            <label id="drop-zone" for="fileInput"
                                                                                class="p-5 border border-1 border-primary  rounded-3 text-center d-flex flex-column align-items-center justify-content-center w-100 bg-four-card"
                                                                                style="cursor: pointer; transition: all 0.3s ease;">

                                                                                <h6 class="mb-1 text-start fw-semibold">
                                                                                    Haz clic para seleccionar o
                                                                                    reemplazar el
                                                                                    PDF
                                                                                </h6>
                                                                                <small class="text-muted"
                                                                                    id="info-drop-zone">
                                                                                    Solo formato PDF (Máx 499 KB)
                                                                                </small>

                                                                                <input type="file" name="archivo_pdf"
                                                                                    id="fileInput" accept=".pdf"
                                                                                    class="d-none">
                                                                            </label>

                                                                            <div id="status-container" class="mt-0">
                                                                                <div id="file-status-badge"
                                                                                    class="text-danger d-flex align-items-center justify-content-center p-2 mb-0 small">
                                                                                    <i
                                                                                        class="ti ti-alert-circle fs-5 me-2"></i>
                                                                                    <span id="status-text">No se ha
                                                                                        seleccionado
                                                                                        ningún archivo</span>
                                                                                </div>
                                                                            </div>


                                                                            <div class="mt-3">
                                                                                <button type="button"
                                                                                    id="btnSubirDococumentoInformacion"
                                                                                    class="btn btn-carbon-slate w-100 py-2 fw-bold shadow-sm d-flex align-items-center justify-content-center">
                                                                                    <i
                                                                                        class="ti ti-cloud-upload me-2 fs-5"></i>
                                                                                    SUBIR PDF
                                                                                </button>
                                                                            </div>

                                                                            <input type="hidden" name="area_documento"
                                                                                id="area_documento"
                                                                                value="matriculacion">
                                                                            <input type="hidden"
                                                                                name="id_documento_informacion"
                                                                                id="id_documento_informacion"
                                                                                value="<%= tramite.id_documento_informacion %>">

                                                                            <div id="upload-success-container"
                                                                                class="mt-2" style="display: none;">
                                                                                <div
                                                                                    class="alert alert-success d-flex align-items-center p-2 border-0 shadow-sm small">
                                                                                    <i
                                                                                        class="ti ti-circle-check fs-5 me-2"></i>
                                                                                    <div>
                                                                                        <strong class="d-block">Archivo
                                                                                            guardado
                                                                                            correctamente:</strong>
                                                                                        <span id="uploaded-file-name"
                                                                                            class="text-break"></span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <script src="/js/subir-documentos.js"></script>



                                                            </div>

                                                        </div>



                                                    </div>
                                                    <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                                        aria-labelledby="nav-profile-tab">
                                                        <div class="">
                                                            <h5 class="py-3 fs-4 fw-semibold">
                                                                ASIGNACION DE TRÁMITE</h5>
                                                        </div>

                                                        <div
                                                            class="col pt-1 mx-auto d-flex flex-column align-items-center">


                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                                                        aria-labelledby="nav-contact-tab">
                                                        <div class="">

                                                            <div class="">
                                                                <h5 class="py-3 fs-4 form-label fw-semibold">
                                                                    OTROS SERVICIOS</h5>
                                                            </div>

                                                            <div
                                                                class="col pt-1 mx-auto d-flex flex-column align-items-center">
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>





                                                <div class="form-actions">
                                                    <div class="text-end">

                                                        <button type="button"
                                                            class="btn btn-secondary me-6 fw-semibold btn-rounded shadow-btn px-4">
                                                            Cancelar
                                                        </button>

                                                        <button type="submit"
                                                            class="btn btn-primary fw-semibold btn-rounded shadow-btn px-4">
                                                            Guardar
                                                        </button>
                                                    </div>
                                                </div>


                                            </form>
                                        </div>

                                    </div>


                                </div>
                            </div>

                        </div>

                    </div>


                    <div class="modal fade" id="modalPlacaExtensa" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Error: campo placa</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>El valor en el campo ¨placa¨ es demasiado extenso. Por favor, asegúrate de que
                                        tenga menos
                                        de 7 caracteres.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="alert-container"></div>


                    <div id="spinner-wrapper" class="spinner-wrapper">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading..</span>
                        </div>
                    </div>
            </div>
    </div>



</body>

</html>