<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Placa registrada</title>
    <link rel="stylesheet" href="../../public/css/style.css">
    <script src="node_modules/simplebar/dist/simplebar.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.46.0/tabler-icons.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="/js/activar-items-navbar.js"></script>
    <script src="/js/spinners.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>

    <div class="page-wrapper" id="main-wrapper" data-theme="blue_theme" data-layout="vertical" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Inicio de barra de navegación -->
        <%- include('../body/navbar') %>
            <!-- Fin de barra de navegación -->
            <!--  Contendio principal -->
            <div class="body-wrapper">
                <!--  Encabezado de pagina -->
                <%- include('../body/header') %>
                    <!--  Fin de encabezado de pagina  -->
                    <div class="container-fluid" style="width: 50%;">
                        <div class="widget-content searchable-container list">

                            <div class="card">
                                <div class="px-4 py-3 border-bottom">
                                    <div class="d-flex no-block align-items-center">
                                        <h5 class="fw-semibold mb-0 ">Placa registrada con éxito</h5>
                                        <div class="ms-auto">
                                            <span class="badge text-black rounded-pill">
                                                <span
                                                    class="round-8 bg-info rounded-circle d-inline-block me-2"></span>Registrado</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="px-4">
                                    <div class="card-body p-4 border-bottom">
                                        <div class="col-12">
                                            <div class="form-group row">
                                                <label class="form-label col-md-5 mb-0">Placa:</label>
                                                <div class="col-md-7">
                                                    <p class="form-control-static mb-2">
                                                        <%= placaInventario.placa %>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="form-group row">
                                                <label class="form-label col-md-5 mb-0">Clase de vehiculo:</label>
                                                <div class="col-md-7">
                                                    <p class="form-control-static mb-2">
                                                        <%= placaInventario.clase_vehiculo %>
                                                    </p>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group row">
                                                <label class="form-label col-md-5 mb-0">Clase de transporte:</label>
                                                <div class="col-md-7">
                                                    <p class="form-control-static mb-2">
                                                        <%= placaInventario.clase_transporte %>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group row">
                                                <label class="form-label col-md-5 mb-0">Ubicación:</label>
                                                <div class="col-md-7" style="white-space: nowrap; overflow: hidden;">
                                                    <p class="form-control-static mb-2">
                                                        <%= placaInventario.ubicacion %>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group row">
                                                <label class="form-label col-md-5 mb-0">Cantidad:</label>
                                                <div class="col-md-7">
                                                    <p class="form-control-static mb-2">
                                                        <%= placaInventario.cantidad %>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-12">
                                            <div class="form-group row">
                                                <label class="form-label col-md-5 mb-0">Centro de matriculación:</label>
                                                <div class="col-md-7">
                                                    <p class="form-control-static mb-2">
                                                        <%= placaInventario.ingreso_nombre_corto_empresa %>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group row">
                                                <label class="form-label col-md-5 mb-0">Usuario:</label>
                                                <div class="col-md-7">
                                                    <p class="form-control-static mb-2">
                                                        <%= placaInventario.ingreso_username %>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group row">
                                                <label class="form-label col-md-5 mb-0">Fecha de ingreso:</label>
                                                <div class="col-md-7">
                                                    <p class="form-control-static mb-2">
                                                        <%= placaInventario.ingreso_fecha %>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <br>

                                    </div>

                                </div>







                            </div>

                        </div>
                    </div>

                    <div id="spinner-wrapper" class="spinner-wrapper">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading..</span>
                        </div>
                    </div>



            </div>
    </div>

</body>

</html>