<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Reporte de trámites en Información</title>
    <link rel="stylesheet" href="../../../public/css/style.css">
    <script src="node_modules/simplebar/dist/simplebar.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.46.0/tabler-icons.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <script src="/js/generar-reporte.js"></script>
    <script src="/js/activar-items-navbar.js"></script>
    <script src="/js/spinners.js"></script>

    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


</head>

<body>

    <div class="page-wrapper" id="main-wrapper" data-theme="blue_theme" data-layout="vertical" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Inicio de barra de navegación -->
        <%- include('../../body/navbar') %>
            <!-- Fin de barra de navegación -->
            <!--  Contendio principal -->
            <div class="body-wrapper">
                <!--  Encabezado de pagina -->
                <%- include('../../body/header') %>
                    <!--  Fin de encabezado de pagina  -->
                    <div class="container-fluid">
                        <div class="col-lg-12">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">

                                        <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                                            <div class="mb-3 mb-sm-0">
                                                <ol class="breadcrumb">
                                                    <li class="breadcrumb-item">
                                                        <a class="text-decoration-none text-black" href="/">REPORTES</a>
                                                    </li>
                                                    <li class="breadcrumb-item text-muted" aria-current="page">
                                                        Reporte de trámites por usuario
                                                    </li>

                                                </ol>
                                            </div>
                                            <div style="width: 20%;">
                                                <input type="text" name="" class="form-control-disable text-center"
                                                    id="" placeholder="">
                                            </div>
                                        </div>

                                        <br>

                                        <div class="col-12 mb-2">
                                            <div class="form-group row">
                                                <label for="area"
                                                    class="col-md-2 form-label fw-normal  col-form-label">Nombre del
                                                    usuario:</label>
                                                <div class="col-md-4">
                                                    <select id="funcionarioSeleccionado" name="funcionarioSeleccionado"
                                                        class="form-select fw-normal text-uppercase" required>
                                                        <option value="TODOS" selected>TODOS</option>
                                                        <% funcionarios.forEach(funcionario=> { %>
                                                            <option value="<%= funcionario.id_funcionario %>">
                                                                <%= funcionario.nombre_funcionario %>
                                                            </option>
                                                            <% }); %>
                                                    </select>


                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-12 mb-2">
                                            <div class="form-group row">
                                                <label for="area"
                                                    class="col-md-2 form-label fw-normal  col-form-label">Tipo de
                                                    trámite:</label>
                                                <div class="col-md-4">
                                                    <select class="form-select fw-normal text-uppercase"
                                                        name="tipo_tramite" id="tipo_tramite"
                                                        aria-label="Default select example" required>
                                                        <option value="TODOS" selected>TODOS</option>
                                                        <% tiposTramites.forEach(tipo=> { %>
                                                            <option value="<%= tipo.tipo_tramite %>">
                                                                <%= tipo.tipo_tramite %>
                                                            </option>
                                                            <% }); %>
                                                    </select>




                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 mb-2">
                                            <div class="form-group row">
                                                <label for="area"
                                                    class="col-md-2 form-label fw-normal  col-form-label">Estado del
                                                    trámite:</label>
                                                <div class="col-md-4">
                                                    <select class="form-select fw-normal text-uppercase"
                                                        name="estado_tramite" id="estado_tramite"
                                                        aria-label="Default select example" required>
                                                        <option value="TODOS" selected>TODOS</option>
                                                        <option value="Finalizado">Finalizado</option>
                                                        <option value="En proceso">En proceso</option>
                                                        <option value="Eliminado">Eliminado</option>
                                                    </select>




                                                </div>
                                            </div>
                                        </div>



                                        <div class="col-12 mb-2">
                                            <div class="form-group row">
                                                <label for="area"
                                                    class="col-md-2 form-label fw-normal  col-form-label">Fecha
                                                    inicial:</label>
                                                <div class="col-md-4">
                                                    <input type="date" class="form-control fw-normal"
                                                        name="fecha_inicial" id="fecha_inicial" required>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 mb-2">
                                            <div class="form-group row">
                                                <label for="area"
                                                    class="col-md-2 form-label fw-normal  col-form-label">Fecha
                                                    final:</label>
                                                <div class="col-md-4">
                                                    <input type="date" class="form-control fw-normal" name="fecha_final"
                                                        id="fecha_final" required>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 mb-2">
                                            <div class="form-group row">
                                                <label for="area"
                                                    class="col-md-2 form-label fw-semibold  col-form-label"></label>
                                                <div class="col-md-4 d-flex">
                                                    <button type="submit" class="btn btn-primary me-3"
                                                        id="generarReporteGeneralTramites"
                                                        name="generarReporteGeneralTramites">
                                                        <i class="ti ti-search fs-4 me-2"></i>
                                                        <span>Procesar consulta</span>
                                                    </button>

                                                    <div class="d-none">
                                                        <form id="" action="reporte-general-tramites-pdf" method="post"
                                                        target="_blank" style="display: flex;">
                                                        <input type="hidden" class="form-control"
                                                            name="funcionarioSeleccionado_pdf"
                                                            id="funcionarioSeleccionado_pdf">
                                                        <input type="hidden" class="form-control"
                                                            name="tipo_tramite_pdf" id="tipo_tramite_pdf">
                                                        <input type="hidden" class="form-control"
                                                            name="fecha_ingreso_pdf" id="fecha_ingreso_pdf">
                                                        <input type="hidden" class="form-control" name="fecha_final_pdf"
                                                            id="fecha_final_pdf">
                                                        <button type="submit" class="btn btn-secondary me-3" id="">
                                                            <i class="ti ti-file-type-pdf fs-4 me-2"></i>
                                                            <span>Generar PDF</span>
                                                        </button>
                                                    </form>
                                                    </div>



                                                    <input type="hidden" class="form-control"
                                                        name="cons_funcionario_excel" id="cons_funcionario_excel">
                                                    <input type="hidden" class="form-control" name="tipo_tramite_excel"
                                                        id="tipo_tramite_excel">
                                                    <input type="hidden" class="form-control" name="fecha_ingreso_excel"
                                                        id="fecha_ingreso_excel">
                                                    <input type="hidden" class="form-control" name="fecha_final_excel"
                                                        id="fecha_final_excel">
                                                    <input type="hidden" class="form-control"
                                                        name="cons_clase_vehiculo_excel" id="cons_clase_vehiculo_excel">
                                                    <button type="submit" class="btn btn-secondary me-3"
                                                        id="generarReportePlacasEXCEL" name="generarReportePlacasEXCEL">
                                                        <i class="ti ti-file-type-xls fs-4 me-2"></i>
                                                        <span>Exportar excel</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-12 mb-2">
                                            <div class="col-12 mb-2 ">

                                                <br>

                                                <div class="col-12 mb-2 d-none" id="content">

                                                    <div class="table-responsive">
                                                        <table class="table table-bordered">
                                                            <thead class="thead-primary text-white">
                                                                <tr>
                                                                    <th
                                                                        class="text-center text-black align-middle col-md-10 font-weight-bolder px-2 py-2">
                                                                        <b>DETALLE DE LOS TRÁMITES DE MATRICULACIÓN</b>
                                                                    </th>
                                                                    <th
                                                                        class="text-center text-black align-middle col-md-2 px-2 py-2">
                                                                        <b>TOTAL</b>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tbody-tramites">

                                                            </tbody>

                                                        </table>
                                                    </div>

                                                    <br>


                                                    <div class="table-responsive">
                                                        <table class="table table-bordered">
                                                            <thead class="thead-primary text-black">
                                                                <tr>
                                                                    <th colspan="2"
                                                                        class="text-center align-middle font-weight-bolder px-2 py-2">
                                                                        <b>MOTOCICLETAS</b>
                                                                    </th>
                                                                </tr>
                                                                <tr>
                                                                    <th
                                                                        class="text-center  align-middle col-md-10 font-weight-bolder px-2 py-2">
                                                                        <b>DETALLE DE LOS TRÁMITES DE MATRICULACIÓN</b>
                                                                    </th>
                                                                    <th
                                                                        class="text-center  align-middle col-md-2 px-2 py-2">
                                                                        <b>TOTAL</b>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tbody-tramites2">

                                                            </tbody>

                                                        </table>
                                                    </div>

                                                    <br>

                                                    <div class="table-responsive">
                                                        <table class="table table-bordered">
                                                            <thead class="thead-primary text-black">
                                                                <tr>
                                                                    <th colspan="2"
                                                                        class="text-center align-middle font-weight-bolder px-2 py-2">
                                                                        <b>VEHICULOS</b>
                                                                    </th>
                                                                </tr>
                                                                <tr>
                                                                    <th
                                                                        class="text-center  align-middle col-md-10 font-weight-bolder px-2 py-2">
                                                                        <b>DETALLE DE LOS TRÁMITES DE MATRICULACIÓN</b>
                                                                    </th>
                                                                    <th
                                                                        class="text-center align-middle col-md-2 px-2 py-2">
                                                                        <b>TOTAL</b>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tbody-tramites3">

                                                            </tbody>

                                                        </table>
                                                    </div>



                                                </div>





                                            </div>


                                        </div>







                                    </div>


                                </div>



                            </div>

                        </div>


                    </div>

                    <div id="spinner-wrapper" class="spinner-wrapper">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading..</span>
                        </div>
                    </div>





            </div>

</body>

</html>